<nav style="height: 5rem">
    <div class="container h-100">
      <div class="row align-items-center align-content-center h-100">
        <div class="col-3">
          <div class="logo"><a href="/fe/events">Cigkoftes</a></div>
        </div>
        <div class="col-6">
          <ul class="nav justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="/">API docs</a>
            </li>
            <% if (true) { %>
            <li class="nav-item">
              <a class="nav-link" href="/fe/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary " href="/fe/signup">Sign up</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/createNewEvent">New event</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <img src="" class="rounded-circle img-fluid mx-2" style="height: 2.5rem" />
                <b>SAID BARADAI</b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/articles?eventId ">My events</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/user/edit">Edit profile</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="/user/signout">Sign out</a></li>
              </ul>
            </li>
            <% } %>
          </ul>
        </div>
        <div class="col-3">
          <form action="https://example.com/search" method="get">
            <label for="search-input">Search:</label>
            <input type="text" id="search-input" name="q" placeholder="Enter your search term">
            <button type="submit">Search</button>
        </form>
        
        </div>
      </div>
    </div>
  </nav>
  <hr>
  <script>
    const form = document.getElementById("search-form");
  
    form.addEventListener("submit", (e) => {
      e.preventDefault();
    });
  </script>