<div class="form-group">
    <label for="name">Name</label>
    <input required value="<%= event.name %>" type="text" name="name" id="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" style="min-height: 60px"><%= event.description %></textarea>
  </div>
